{% extends "noticias/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="row">
                    <h4 class="text-primary">{{ noticia.titulo}}</h4>
                </div>
                <div class="row" >
                    <h6>
                        Autor: {{ noticia.autor}}
                        <br>
                        Publicado em: {{ noticia.data_publicacao|date:'d / M / Y - H:i' }}
                    </h6>
                </div> 
            </div>           
        </div>
        <div class="card-body" style="text-align: justify;">
            <div class="overflow-auto" style="max-height: 250px;">
                {{ noticia.texto|linebreaks }}
            </div>            
        </div>            
    </div>
    <br>
    {% for comentario in comentarios %}
        <div class="card">
            <div class="card-header">
                <div class="row" >
                    <h6>
                        Autor: {{ comentario.autor_comentario}}
                        <br>
                        {{ comentario.data_comentario|date:'d / M / Y - H:i' }}
                    </h6>
                </div> 
            </div>           
  
            <div class="card-body" style="text-align: justify;">
                <{{ comentario.texto_comentario}}
            </div>      
        </div>
        <br>
    {% empty %}
        <h4>Ainda não há comentários cadastrados.</h4>
    {% endfor %}

     
{% endblock %}