{% extends "noticias/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="row">
                    <h4 class="text-primary">{{ noticia.titulo}}</h4>
                </div>
                <div class="row" >
                    <h6>
                        Autor: <span class="badge bg-warning"><a href="#" style="text-decoration: none;">{{ noticia.autor}}</a></span>
                        <br>
                        Publicado em: {{ noticia.data_publicacao|date:'d / M / Y - H:i' }}
                    </h6>
                </div> 
            </div>           
        </div>
        <div class="card-body" style="text-align: justify;">            
                {{ noticia.texto|linebreaks }}                      
        </div>            
    </div>
    <br>
    <h4 style="text-align: center;"> Comentários </h4>
    {% for comentario in comentarios %}
        <div class="card">
            <div class="card-header">
                <div class='row'>
                    <div class="col" >
                        <h6> {{ comentario.autor_comentario}}</h6>
                    </div>  
                    <div class="col" style="text-align: right;">
                        <h6> {{ comentario.data_comentario|date:'d / M / Y - H:i' }} </h6>
                    </div> 
                </div>
            </div>           
  
            <div class="card-body" style="text-align: justify;">
                <span>{{ comentario.texto_comentario|linebreaks}}</span>
            </div>      
        </div>
        <br>
    {% empty %}
        <h5>Ainda não há comentários cadastrados.</h5>
    {% endfor %}

     
{% endblock %}