{% extends "noticias/base.html" %}

{% block content %}

    {% for noticia in noticias %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="row">
                        <h4><a href="{% url 'noticias:noticia' noticia.id %}" style="text-decoration: none;">{{ noticia.titulo }}</a></h4>
                    </div>
                    <div class="row" >
                        <div class="col"><h6>Autor: <span class="badge bg-warning"><a href="#" style="text-decoration: none;">{{ noticia.autor}}</a></span></h6></div>
                        <div class="col" style="text-align: right;">
                            <h6>Publicado em: {{ noticia.data|date:'d / M / Y - H:i' }}</h6>
                        </div>
                    </div> 
                </div>           
            </div>  
            <div class="card-body" style="text-align: justify;">
                <span> {{ noticia.sub_titulo}} </span>
            </div>      
        </div>
        <br>
    {% empty %}
        <h4>Ainda não há nóticias cadastradas.</h4>
    {% endfor %}

    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            {% if noticias.has_previous %}
              <a href="?page={{noticias.previous_page_number}}" class="page-link">
                  <span aria-hidden="true">&laquo;</span>
              </a>
            {% endif %}
          </li>
          <li class="page-item"><a class="page-link" href="#">{{ noticias.number }}</a></li>
          <li class="page-item">
            {% if noticias.has_next %}
              <a href="?page={{noticias.next_page_number}}" class="page-link">
                  <span aria-hidden="true">&raquo;</span>
              </a>
            {% endif %}
          </li>
        </ul>
    </nav>
     
{% endblock %}
